*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

header{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(199, 156, 240, 0.945);
}

header:hover{
    color:rgb(182, 25, 255);
}

.navbar {
    display:flex;
    background-color: rgb(255, 255, 255);


}


.timer{
    display: inline-flex;
    align-items: center;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    margin-left: 800px;
    margin-top: -10px;
}

.mainContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    width:75%;
    list-style: none;
    margin-left:23%;
}
.score {
    font-size: large;
    font-weight: bold;
 }
 
 #user-score {
    color: black;
 }
 
 #total-score {
    color: black;
 }

.btn{
    display: flex;
    background-color:rgb(182, 25, 255);
    color:black;
    margin-left: 50%;
    border-color: white;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: x-large;
}

.btn:hover{
    color:rgb(106, 0, 206);
}

.hide {
    display: none;
 }

 #question-container {
     background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width:75%;
    list-style: none;
    margin-left:23%;
 }

 .quiz-questions{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
 }

 .ended-quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .answer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    visibility: visible;
 }

 form {
     justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#name{
    visibility: hidden;
}

#submitBtn{
    display: flex;
    background-color:rgb(182, 25, 255);
    color:black;
    margin-left: 50%;
    border-color: white;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}